.ms-Nav-groupContent {
  margin-bottom: 0 !important;
}

#grapesjs-react-editor {
  height: auto !important;
}
.app-command-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.app-command-bar .ms-Button,
.app-command-bar .ms-SearchBox {
  height: 39px;
}

.app-command-bar .ms-CommandBar {
  padding: 0 !important;
  height: 39px;
}

.app-command-bar-menu {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 0 !important;
}

.gjs-pn-views {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 39px;
}

.gjs-pn-views .gjs-pn-buttons {
  display: flex;
}

.file-tree-space:hover {
  background: #818894;
}

.app-command-bar .ms-OverflowSet:first-child .ms-OverflowSet-item:first-child {
  display: flex;
  width: 100%;
}

.app-command-bar
  .ms-OverflowSet:first-child
  .ms-OverflowSet-item:first-child
  .ms-SearchBox {
  flex: 1;
}

.gjs-trt-trait .ms-Button {
  height: 26px !important;
}
.rsys-attr .ms-Button .ms-Icon,
.rsys-attr .ms-Button .ms-Icon svg {
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
}

.gjs-trt-trait .ms-Button-label {
  font-size: 13px !important;
}

.gjs-field-wrp--attributes .ms-Label {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-right: 5px !important;
}

.ms-Dropdown-title {
  font-size: 12px !important;
}

.rsys-at-label {
  width: 50px !important;
  margin-right: 5px !important;
}
