.ms-Nav-groupContent {
  margin-bottom: 0 !important;
}

#grapesjs-react-editor {
  height: auto !important;
}
.app-command-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.app-command-bar .ms-CommandBar {
  padding: 0 !important;
}

.file-tree-space:hover {
  background: #818894;
}

.app-command-bar .ms-OverflowSet:first-child .ms-OverflowSet-item:first-child {
  display: flex;
  width: 100%;
}

.app-command-bar
  .ms-OverflowSet:first-child
  .ms-OverflowSet-item:first-child
  .ms-SearchBox {
  flex: 1;
}
